
$coworking-space: #EB6E46;
$black: #1D1E25;
$blue: #2280FF;
$cyan: #20BFF7;
$grey: #808D9E;
$silver: #E6E9ED;
$white: #FFFFFF;
$white-light: #FFF1ED;
$neutral-60: #757B8A;


$fintech-primary: #1053F3;